---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","date":"2019-07-01T12:16:19-04:00","code":"149E1B083A","companyCode":null,"customerCode":"epigeon@workarea.com","customerUsageType":null,"addresses":{"shipFrom":{"Line1":"12
        N 3rd St","city":"Philadelphia","region":"PA","country":"US","postalCode":"19106"},"shipTo":{"line1":"22
        S 3rd St","line2":null,"city":"Philadelphia","region":"PA","country":"US","postalCode":"19106"}},"commit":false,"lines":[{"quantity":2,"amount":"10.00","itemCode":"SKU1","taxCode":"001","description":"Split
        Shipping Product One","number":1,"addresses":{"shipTo":{"line1":"22 S 3rd
        St","line2":null,"city":"Philadelphia","region":"PA","country":"US","postalCode":"19106"}}},{"quantity":1,"amount":"7.00","itemCode":"SKU2","taxCode":"001","description":"Split
        Shipping Product Two","number":2,"addresses":{"shipTo":{"line1":"22 S 3rd
        St","line2":null,"city":"Philadelphia","region":"PA","country":"US","postalCode":"19106"}}},{"quantity":1,"amount":"7.00","itemCode":"SKU2","taxCode":"001","description":"Split
        Shipping Product Two","number":3,"addresses":{"shipTo":{"line1":"12 N 3rd
        St","line2":null,"city":"Philadelphia","region":"PA","country":"US","postalCode":"19106"}}},{"quantity":4,"amount":"36.00","itemCode":"SKU3","taxCode":"001","description":"Split
        Shipping Product Three","number":4,"addresses":{"shipTo":{"line1":"12 N 3rd
        St","line2":null,"city":"Philadelphia","region":"PA","country":"US","postalCode":"19106"}}},{"quantity":1,"amount":"5.00","itemCode":"SHIPPING","taxCode":"001","description":"Ground","number":5},{"quantity":1,"amount":"10.00","itemCode":"SHIPPING","taxCode":"001","description":"Express","number":6}]}'
    headers:
      X-Avalara-Client:
      - ";;RubySdk;17.12.0;"
      Authorization:
      - Basic anl1Y2lzLWxwLWF2YXRheEB3ZWJsaW5jLmNvbTpKbXttM05YLlE=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/766912/transactions/0"
      Serverduration:
      - '00:00:00.1020795'
    body:
      encoding: UTF-8
      string: '{"id":0,"code":"149E1B083A","companyId":766912,"date":"2019-07-01","paymentDate":"2019-07-01","status":"Temporary","type":"SalesOrder","customerVendorCode":"epigeon@workarea.com","customerCode":"epigeon@workarea.com","reconciled":false,"totalAmount":75.0,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":6.0,"totalTaxable":75.0,"totalTaxCalculated":6.0,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"exchangeRateEffectiveDate":"2019-07-01","exchangeRate":1.0,"modifiedDate":"2019-07-01T16:16:18.7702071Z","modifiedUserId":299077,"taxDate":"2019-07-01T00:00:00","lines":[{"id":0,"transactionId":0,"lineNumber":"1","description":"Split
        Shipping Product One","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"itemCode":"SKU1","lineAmount":10.0,"quantity":2.0,"reportingDate":"2019-07-01","tax":0.8,"taxableAmount":10.0,"taxCalculated":0.8,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-07-01","taxIncluded":false,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"42","jurisName":"PENNSYLVANIA","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0,"rate":0.060000,"tax":0.6,"taxableAmount":10.0,"taxType":"Sales","taxSubTypeId":"S","taxName":"PA
        STATE TAX","taxAuthorityTypeId":45,"taxCalculated":0.6,"rateType":"General","rateTypeCode":"G","unitOfBasis":"PerCurrencyUnit","isNonPassThru":false},{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"jurisCode":"101","jurisName":"PHILADELPHIA","stateAssignedNo":"51","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0,"rate":0.020000,"tax":0.2,"taxableAmount":10.0,"taxType":"Sales","taxSubTypeId":"S","taxName":"PA
        COUNTY TAX","taxAuthorityTypeId":45,"taxCalculated":0.2,"rateType":"General","rateTypeCode":"G","unitOfBasis":"PerCurrencyUnit","isNonPassThru":false}],"nonPassthroughDetails":[],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"","vatNumberTypeId":0},{"id":0,"transactionId":0,"lineNumber":"2","description":"Split
        Shipping Product Two","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"itemCode":"SKU2","lineAmount":7.0,"quantity":1.0,"reportingDate":"2019-07-01","tax":0.56,"taxableAmount":7.0,"taxCalculated":0.56,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2019-07-01","taxIncluded":false,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","exemptAmount":0.0,"juris[...]
