%tr
  %th AvaTax Settings
  %td= check_box_tag 'permissions[avatax_settings][view]', true, @permissions.authorized_to?(:view, :avatax_settings), title: 'AvaTax Settings: View'
  %td -
  %td= check_box_tag 'permissions[avatax_settings][edit]', true, @permissions.authorized_to?(:edit, :avatax_settings), title: 'AvaTax Settings: Edit'
  %td -
%tr
  %th AvaTax Test Connection
  %td= check_box_tag 'permissions[avatax_test_connections][view]', true, @permissions.authorized_to?(:view, :avatax_test_connections), title: 'AvaTax Test Connection: View'
  %td -
  %td= check_box_tag 'permissions[avatax_test_connections][edit]', true, @permissions.authorized_to?(:edit, :avatax_test_connections), title: 'AvaTax Test Connection: Edit'
  %td -

