.section
  %h3 AvaTax Settings
  .button-property
    .value= check_box :user, :avatax_settings_access
    = label_tag 'user[avatax_settings_access]', nil, class: 'button-property__name' do
      %span.button-property__text
        %span.icon.icon--pages
        %strong AvaTax Settings
        %span - View and edit AvaTax configuration
  .button-property
    .value= check_box :user, :avatax_test_connections_access
    = label_tag 'user[avatax_test_connections_access]', nil, class: 'button-property__name' do
      %span.button-property__text
        %span.icon.icon--pages
        %strong AvaTax Test Connection
        %span - Be able to test AvaTax connection
