.property
  = label_tag 'user[exemption_no]', nil, class: 'property__name' do
    %span.property__text AvaTax Exemption Number
  .value= text_field_tag 'user[exemption_no]', @user.exemption_no, class: 'text-box'

.property
  = label_tag 'user[customer_usage_type]', nil, class: 'property__name' do
    %span.property__text AvaTax Entity/Use Code
  .value
    = select_tag 'user[customer_usage_type]', options_from_collection_for_select(Weblinc::Avatax::UsageType.all, 'code', 'name', @user.customer_usage_type), prompt: 'Not Applicable'
