<!DOCTYPE html>
<html>
<head>
  <title>AvaTax</title>
  <%= stylesheet_link_tag    "avatax/application", media: "all" %>
  <%= javascript_include_tag "avatax/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
